<html>
<head>
    <link rel="stylesheet" type="text/css" href="style/damage-control.css"/>
</head>

<body>
<div id="content">

    <div id="summary-section">
        <h1><%= spec.name %></h1>
        <div id="summary">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div id="infoBoxGroup">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="infoBox">
                                                <div class="summaryCounter" id="featureCount"><%= spec.featureCount%></div>
                                                <p>features</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="infoBox">
                                                <div class="summaryCounter" id="failedFeatureCount"><%= spec.failedFeatureCount %></div>
                                                <p>failures</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="infoBox">
                                                <div class="summaryCounter" id="skippedFeatureCount"><%= spec.skippedFeatureCount%></div>
                                                <p>skipped</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="infoBox">
                                                <div class="summaryCounter" id="specDuration"><%= spec.duration%>s</div>
                                                <p>duration</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div id="successRate" class="specResult_<%= spec.result%>">
                                <div id="successPercentage"><%= spec.successPercentage%>%</div>
                                <p>successful</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div id="features-section">
        <h3>Features</h3>

        <div id='features-list'>
            <table>
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Duration</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <% features.each{ feature_name, feature -> %>
                <tr>
                    <td id="<%= feature_name %>" class="result_<%= feature.result %>"><%= feature_name %></td>
                    <td id="<%= feature_name %>_duration"><%= feature.duration %>s</td>
                    <td id="<%= feature_name %>_result" class="result_<%= feature.result %>"><%= feature.result %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div id="spec-standard-output-section">
        <h3>System Out</h3>

        <div id='spec-standard-output'>
            <pre>${spec_standard_output}</pre>
        </div>
    </div>

    <div id="spec-error-output-section">
        <h3>System Error</h3>

        <div id='spec-error-output'>
            <pre>${spec_error_output}</pre>
        </div>
    </div>

</div>
</body>
</html>
