body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

h1 {
  font-size: 150%;
}

a {
  color: #000000;
}

#content {
  padding: 5px 30px;
}

#footer {
  padding: 30px 30px;
  font-size: small;
  color: darkgray;
}

#footer a {
  color: darkgray;
}



.summary-group {
  display: inline-block;
  border: solid 2px #D0D0D0;
  border-radius: 10px;
  margin-right: 10px;
}

.summary-group.passed {
  color: green;
  border-color: green;
  background-color: #BBD9BB;
}

.summary-group.failed {
  color: #B60808;
  border-color: #B60808;
  background-color: #ECDADA;
}

.summary-group.skipped {
  color: black;
  border-color: darkgray;
  background-color: lightgray;
}

.summary-counter {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.summary-counter .counter {
  font-weight: bold;
  font-size: 130%;
}

.summary-counter .label {

}




#features-section table {
  border-bottom: solid #D0D0D0 1px;
  border-collapse: collapse;
  border-spacing: 2px;
}

#features-section th {
  border-bottom: solid #D0D0D0 1px;
  white-space: nowrap;
  text-align: right;
  padding-left: 3em;
}

#features-section th:first-child {
  padding-left: 0;
  text-align: left;
}

#features-section td {
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  display: table-cell;
  vertical-align: inherit;
  text-align: right;
}

#features-section td:first-child {
  padding-left: 0;
  text-align: left;
}

.result_PASSED, .result_passed {
  color: green;
}

.result_FAILED, .result_failed {
  color: #B60808;
}

.spec-output {
  font-family: monospace;
  font-size: large;
  border: 1px solid #a9a9a9;
}

div.steps,
div.details {
  font-family: monospace;
  font-size: 10pt;
  margin-left: 10px;
}

div.details {
  font-size: 9pt;
  border-left: 1px #D0D0D0 solid;
  padding-left: 2px;
}

div.steps span.PASSED {
  font-size: 9pt;
  color: green;
}

div.steps span.FAILED {
  font-size: 9pt;
  color: #B60808;
}

div.steps span.NOT_PERFORMED {
  font-size: 9pt;
  color: gray;
}
